<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key ="AppId" value="969137343187901" xdt:Transform="Remove"/>
    <add key ="AppSecret" value="eb4da3d3c12d64ec46dae7766f56cb51" xdt:Transform="Remove"/>
    <add xdt:Transform="Insert" key ="AppId" value="743461882487170"/>
    <add xdt:Transform="Insert" key ="AppSecret" value="10dd16d0e36fbb3ff76e7671a64069d7" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Replace" 
         connectionString="Server=5184e88c-a384-4b37-9fc8-a72e0021722c.sqlserver.sequelizer.com;
         Database=db5184e88ca3844b379fc8a72e0021722c;
         User ID=kickjngznkolzwpd;
         Password=XJCejpE7nMoveksJEwhHMtTNFaXoKfJ2wVWyS4VjXgkRrZYuf76FUcBCXXEjyqvh;"
         providerName="System.Data.SqlClient" />
    <add name="tutorialsContext" xdt:Transform="Replace"
         connectionString="Server=5184e88c-a384-4b37-9fc8-a72e0021722c.sqlserver.sequelizer.com;
         Database=db5184e88ca3844b379fc8a72e0021722c;
         User ID=kickjngznkolzwpd;
         Password=XJCejpE7nMoveksJEwhHMtTNFaXoKfJ2wVWyS4VjXgkRrZYuf76FUcBCXXEjyqvh;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--
        <compilation xdt:Transform="RemoveAttributes(debug)" />

      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="Off"/>
  </system.web>
</configuration>
